<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{passenger.name}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="close()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button value="basicinfo">
        BASIC INFORMATION
      </ion-segment-button>
      <ion-segment-button value="ridehistroy" (click)="getTrips()">
        Ride History
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="tabs">
        <div *ngSwitchCase="'basicinfo'">
          <ion-item>
            <ion-avatar item-left>
              <img src="{{passenger.photoURL}}"/>
            </ion-avatar>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" [(ngModel)]="passenger.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="text" [(ngModel)]="passenger.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Phone Number</ion-label>
            <ion-input type="text" [(ngModel)]="passenger.phoneNumber"></ion-input>
            <a ion-button item-right *ngIf="passenger.phoneNumber" href="tel:{{passenger.phoneNumber}}">Call</a>
          </ion-item>
          <ion-item>
            <button ion-button block (click)="updateUserInfo()">Update</button>
          </ion-item>
        </div>
        <div *ngSwitchCase="'ridehistroy'">
          <div *ngFor="let trip of trips" style="border: 1px solid #eee; padding: 5px;margin: 1px;">
            <span style="float:right; padding: 10px;">
              <b>{{trip.currency}}{{trip.fee}}</b>
              <ion-icon *ngIf="trip.paymentMethod == 'cash'" name="cash"></ion-icon>
              <ion-icon *ngIf="trip.paymentMethod == 'card'" name="card"></ion-icon>
              <br>
              <i *ngIf="trip.status == 'canceled'">{{trip.status}}</i>
            </span>
            <div>
              <h6>{{ trip.pickedUpAt }} <span *ngIf="trip.rating" style="color:#FFC107"> - {{trip.rating}} <ion-icon name="star"></ion-icon></span></h6>
              <p style="color:#888">{{ trip.origin.vicinity }} -> {{ trip.destination.vicinity }} </p>
            </div>
          </div>
        </div>
      </div>
</ion-content>
